@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-07-11 17:23:35
 * @version $Id$
 * @轮播效果-CSS
 * 
 */
*{margin: 0;padding: 0;}

body{font-size: 16px;}

#carousel-box{
	width: 780px;
	height: 400px;
	position: relative;
}
#carousel-content{
	display: block;
	width: 780px;
	height: 400px;
}
#carousel-content li{
	position: absolute;
	width: 780px;
	height: 400px;
}
#carousel-content img{
	width: 100%;
	height: 100%;
}
#carousel-box nav{
	position: absolute;
	width: 100px;
	bottom: 10px;
	left: 50%;
	margin-left: -50px;
}
#carousel-box nav ul{width: 150px;}
.circle{
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	margin: 0 2px;
	background-color: rgba(255,255,255,.5);
	color: rgba(0,0,0,.8);
	font-size: 1em;
	border-radius: 100%;
	float: left;
	list-style-type: none;
	cursor: pointer;
}
.bg{background-color: rgba(33,142,162,.5);}
#carousel-box .switch{
	width: 60px;
	height: 90px;
	position: absolute;
	font-size: 30px;
	color: white;
	background-color: rgba(0,0,0,.5);
	text-align: center;
	line-height: 90px;
	top: 50%;
	margin-top: -45px;
	cursor: pointer;
}
#next{right: 0;}